<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479558142785-k7iou75llqrqhi6ofg2m04tdul0ioslr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479558142785-k7iou75llqrqhi6ofg2m04tdul0ioslr</string>
	<key>API_KEY</key>
	<string>AIzaSyC5Dl7eNUwCThdC7HG5dIi1IkzAgXcPLwY</string>
	<key>GCM_SENDER_ID</key>
	<string>479558142785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendzpoint.search</string>
	<key>PROJECT_ID</key>
	<string>friendzpoint-69dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzpoint-69dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479558142785:ios:6ffb7fb94a0d8b63</string>
	<key>DATABASE_URL</key>
	<string>https://friendzpoint-69dfc.firebaseio.com</string>
</dict>
</plist>